<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.realtime.gmallpublisher.mapper.DauMapper">
    <select id="getDau" resultType="java.lang.Long">
         select count(*) from GMALL_DAU0421 where LOGDATE= #{date}
    </select>

    <select id="getHourDau" resultMap="mapList">
        select LOGHOUR, count(*) COUNT from GMALL_DAU0421 where LOGDATE=#{date} group by LOGHOUR
    </select>
    <resultMap id="mapList" type="java.util.Map"></resultMap>
</mapper>
